node_modules
.pnpm-store
.npm
coverage
*.log
.DS_Store

apps/**/node_modules
apps/**/.next
apps/**/dist
apps/**/.expo
apps/**/.turbo
apps/**/tsconfig.tsbuildinfo

packages/**/dist
packages/**/tsconfig.tsbuildinfo
